body {
    background-color: #111111 !important;
    color: #ababab !important;
    /* background-image: linear-gradient(to top right, #111111, #1d1d1d) !important; */
}

.bg-dark {
    background-color: #9896f1;
}

.bottom-div {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    /* background-size: 100% 100%; */
    background-color: cover;
    filter: blur(5px) brightness(40%);
    width: auto;
    height: 100vw;
}

.btn-primary {
    background-color: #9896f1 !important;
    border-color: #9896f1 !important;
}

.btn-primary:hover {
    background-color: #7877be !important;
    border-color: #7877be !important;
}

.btn-space {
    margin: 10px 0;
}

.center {
    text-align: center;
    align-items: center;
    flex-direction: row;
}

.close {
    color: #9896f1 !important;
    text-shadow: none;
    opacity: 1.0;
}

.content-container {
    width: 95%;
    height: auto;
    object-fit: contain;
    margin: 0 auto !important;
    padding: 30px;
}

.custom-card {
    background-color: #2a2a2a !important;
}

.details-container {
    /* background-size: 100% 100%; */
    background-size: cover;
    /* opacity: 0.2; */
    /* filter: blur(3px) brightness(40%); */
    display: flex;
}

.featured-movies-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.featured-text {
    margin-top: 25px;
}

.footer-brand-font {
    font-family: 'Lato', sans-serif;
    color: #9896f1 !important;
    font-size: 50px !important;
    padding: 10px 0;
}

.footer-link {
    color: #ababab !important;
    margin-top: 10px;
    font-size: 16px;
}

.footer-links {
    margin-top: -20px;
}

.form-check-input {
    background-color: #ababab !important;
    border: 1px solid #ababab !important;
}

.form-check-input:checked {
    background-color: #9896f1 !important;
    border-color: #9896f1 !important;
}

.form-control {
    background-color: #232323 !important;
    border: 1px solid #232323 !important;
    color: #ababab !important;
}

.hide {
    display: none;
}

.hero-image {
    width: 100vw;
    float: none;
    margin: 0 auto;
    max-height: 30vw;
    object-fit: cover;
    object-position: 90% 20%;
    opacity: 0.6;
   
}

.item-poster {
    width: 100%;
    max-height: 250px;
    object-fit: contain;
    transition: transform 450ms, opacity 200ms ease-in;
    padding: 10px;
}

.item-poster:hover {
    transform: scale(1.12);
    opacity: 0.25;
}

.item-poster-row {
    padding: 30px;
}

.ml-max {
    margin-left: 9.5rem !important;
}

.modal-content {
    background-color: #2a2a2a !important;
}

.modal-footer {
    border-top: 1px solid #2a2a2a !important;
}

.modal-header {
    border-bottom: 1px solid #2a2a2a !important;
}

.modal-title {
    font-size: xx-large !important;
    font-family: 'Lato', sans-serif;
    color: #9896f1;
}

.navbar-brand-font {
    font-family: 'Lato', sans-serif;
    color: #9896f1 !important;
    font-size: 30px !important;
}

.outline {
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.right-align {
    vertical-align: text-top;
}

.right-align-text {
    text-align: right;
}

.rm-bt-pd {
    padding-bottom: 0rem !important;
}

.rm-tp-pd {
    padding-top: 0rem !important;
}

.social-icon {
    margin: 10px 25px 0 25px;
}

.top-div {
    position: relative;
    left: 0;
    right: 0;
    z-index: 500;
}